.galleries {
  max-width: 880px;
  margin: 0 auto 67px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1023px) {
  .galleries {
    max-width: 581px;
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 767px) {
  .galleries {
    grid-template-columns: repeat(1, 282px);
    max-width: 282px;
    margin-bottom: 48px;
  }
}