@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__exit/header__exit.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__card/profile__card.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/galleries/galleries.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__bin/gallery__bin.css);
@import url(./blocks/gallery/__image/gallery__image.css);
@import url(./blocks/gallery/__place/gallery__place.css);
@import url(./blocks/gallery/__caption/gallery__caption.css);
@import url(./blocks/gallery/__container/gallery__container.css);
@import url(./blocks/gallery/__like/gallery__like.css);
@import url(./blocks/gallery/__like/_active/gallery__like_active.css);
@import url(./blocks/gallery/__counter/gallery__counter.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__header/popup__header.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/error/popup__input_type_error.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/_opened/popup__opened.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__image/popup-image__image.css);
@import url(./blocks/popup-image/__caption/popup-image__caption.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__save/auth__save.css);
@import url(./blocks/auth/__signin/auth__signin.css);
@import url(./blocks/auth/__text/auth__text.css);
@import url(./blocks/auth/__link/auth__link.css);