.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding: 28px 0 31.6px;
  }
}