.popup__header {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0 0 49px;
}

@media screen and (max-width: 767px) {
  .popup__header {
    font-size: 18px;
    margin-bottom: 75px;
  }
}